*{
    margin:0;
    padding:0;
    text-decoration: none;
}

body {
    background: rgb(251, 251, 252);
    
    
    

  }
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #000;
    color: #fcfbfb;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}

/* div.top_section :hover {
    
    height: 40px;
    padding: 8px;
     border-radius: 2px;
    margin-bottom: 10px;
    } */

/* #mySidebar a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidebar a:hover {
    left: 0;
  } */

.no-touch .scrollable.hover {
    overflow-y:hidden;
    }
    
    .no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }
    
    a:hover,a:focus {
    text-decoration:none;
    }
    
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #050505;
}
.icon, .link_text{
    font-size: 20px;
}


